*{
	margin:0;
	padding:0;
}

.main{
	width:100%;
	background-image: url("C:\Users\ADMIN\Downloads\New folder (4)\bg.jpg");
	backgound-position:center;
	background-size: cover;
	height: 1000vh;
	position: relative;
	font-family: sans-serif;
}

.Long1{
	 width:86%;
	 display:flex;
	 margin:auto;
	 padding: 15px 0;
	 align-items: center;
	 justify-content: space-between;
}

.Long1 .logo{
	width:160px;
	cursor: pointer;
	margin-top: -1%;
	margin-left: -3%;
}

ul li{
	margin-top: none;
	display:inline-block;
	padding: 10px 16px;
}

ul li a{
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	color: darkblue;
	margin-top: -3%;
}

.info{
	margin-left: 9%;
	margin-top:8%;
}

.info h1{
	font-size: 65px;
	color: rgb(36,32,30);
}